/* Empty. Add your own CSS if you like */
.bar.bar-stable {
	border-color: #b2b2b2;
	background-color: #0086BF;
	background-image: none;
}

.bar.bar-stable .title {
	color: #fff;
}

.bar-stable .button.button-clear {
	color: #fff;
}

/* HELPERS */
.pull-left {
	float: left !important;
}

img.pull-left {
	padding-right: 15px;
	/*padding-bottom: 15px;*/
	max-width: 120px;
}

.pull-right {
	float: right !important;
}

.scroll-content {
	background-color: #eee;
}